[submodule "z-Leetcode-Go"]
	path = z-Leetcode-Go
	url = https://github.com/halfrost/LeetCode-Go
[submodule "z-codeforces-go"]
	path = z-codeforces-go
	url = https://github.com/EndlessCheng/codeforces-go.git
[submodule "z-rust-by-practice"]
	path = learn-rust/rust-by-practice
	url = https://github.com/sunface/rust-by-practice.git
[submodule "rust-algos"]
	path = learn-rust/rust-algos
	url = https://github.com/rustlang-cn/rust-algos
